table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 1px solid #ddd;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  text-align: center;
}

.boton {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #7997a6;
  color: #fff;

  &:hover {
    background-color: #9cb8c8;
  }
}

.flecha {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  color: #000000;
  background-color: #ffffff;
}

.disabled {
  color: #ffffff;
  cursor: default;

  &:hover {
    color: #ffffff; 
  }
}

.margen {
  margin-left: 10%; 
}

.input {
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 8px; 
  width: 40%;
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: 500;
  transition: border-color 0.25s;
  background-color: #fff; 
  color: #333; 
}

.button-container {
  display: flex;
  justify-content: space-between; 
  margin-bottom: 10px; 
}

