:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #303030;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #298e42;
  text-decoration: inherit;
}

a:hover {
  color: #31af50;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  /* place-items: center; */
  /* min-width: 320px; */
  /* min-height: 100vh; */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  background-color: #298e42;
  color: white;
  text-align: center;
  position: relative;
  padding: 0.6rem 1.2rem;
  font-size: 3rem;
  border: none;
  outline: none;
  border-radius: 0.6rem;
  margin: 1rem;
  box-shadow: 0.065rem 0.188rem #50514f;
  transition: 0.1s;
}

button:hover {
  outline: none;
  cursor: pointer;
}

button:active {
  transform: translateY(0.1rem);
}